
.right-column {
	float:right;
	width:640px;
	height:auto;
}

.right-column-content {
	width:560px;
	padding:30px;
	border:10px solid #358aba;
	margin-top:20px;
	background:#838383 ;
	overflow:auto;
	box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.1);
}
.right-column-content-heading {
	float:left;
	border-bottom:1px solid #e5e5e5;
	width:100%;
	text-align:left;
	padding-bottom:30px;
	clear:both;
}

.right-column-content-img-left {
	float:left;
	width:170px;
	margin-right:30px;
	margin-top:40px;
}
.right-column-content-img-right {
	float:left;
	width:170px;
	margin-left:30px;
	margin-top:40px;
	margin-bottom:40px;
}
.right-column-content-img-right-margin-bottom-none {
	margin-bottom:0px;
}
.right-column-content-content {
	float:left;
	width:350px;
	margin-top:40px;
}
.right-column-content-content p {
	padding-bottom:30px;
}
.right-cloumn-content-border {
	border-bottom: 1px solid #e5e5e5;
}
