<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GSignUpServlet</servlet-name>
        <servlet-class>com.vicinity.controller.GSignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sign_upServlet</servlet-name>
        <servlet-class>com.vicinity.controller.Sign_upServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.vicinity.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contact_UsServlet</servlet-name>
        <servlet-class>com.vicinity.controller.Contact_UsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>com.vicinity.controller.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterServlet</servlet-name>
        <servlet-class>com.vicinity.controller.FilterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookServlet</servlet-name>
        <servlet-class>com.vicinity.controller.BookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GSignUpServlet</servlet-name>
        <url-pattern>/GSignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sign_upServlet</servlet-name>
        <url-pattern>/Sign_upServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contact_UsServlet</servlet-name>
        <url-pattern>/Contact_UsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterServlet</servlet-name>
        <url-pattern>/FilterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookServlet</servlet-name>
        <url-pattern>/BookServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
